.footer2,.footer3,.footer4{
    margin-left: 30px;
}  
@media screen and (max-width:500px)  {
   .title{
       display:flex;
       flex-flow:column;
   }
   .mail{
       display:flex;
       order:1;
       margin-top: 20px;
   }
   .contact{
       position: relative;
       right:10pc;
   }
   .socialmed{
    position: relative;
    right:28pc;
    margin-top: 20px;
    display:flex;
   }
   .logo{
       padding:5%;
   }
   .logo img{
       margin-top: 25px;
       padding-left: 40px;
   }
   .searchtab{
    position: relative;
    margin-top: 10px; 
    display:flex;
    overflow: visible;
    width:250px; 
    font-size: 10px;
    margin-left: 3.5pc;
   }
   #butt{
       width:100%;
       
   }
   .tab a{
       margin-top: 10px;
   }
   .plant{
       display:flex;
       flex-direction: column;
       align-items: center;
   }
   .cont{
       display:flex;
       flex-wrap: wrap;
       /* flex-flow: column, wrap; */
       /* flex-direction: column; */
   }
   .sellers{
    display:flex;
    flex-direction: column;
    align-items: center; 
   }
   .health{
    display:flex;
    flex-wrap: wrap;
   }
   .image img{
       width:100%;
       margin-top:10px;
   }
   #order1{
       margin-top: 25px;
       position: relative;  
       right:0.5pc;
   }
   .transparenttext{
    position: relative;
    margin-top:310pc;
    width:100px; 
    right:2pc;    
   }
   .footer{
       display:flex;
       flex-wrap: wrap;
       justify-content: flex-start;
   }
   .footer1{
       margin-left: 35px;
   }
}
@media screen and (max-width:400px){
        .title{
            display:flex;
            flex-flow:column;
        }
        .mail{
            display:flex;
            order:1;
            margin-top: 20px;
        }
        .contact{
            position: relative;
            right:10pc;
        }
        .socialmed{
         position: relative;
         right:28pc;
         margin-top: 20px;
         display:flex;
        }
        .logo{
            padding:5%;
        }
        .logo img{
            margin-top: 25px;
            padding-left: 40px;
        }
        .searchtab{
         position: relative;
         right:32pc;
         margin-top: 10px; 
         display:flex;
        }
        .tab a{
            margin-top: 10px;
        }
        .plant{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        .cont{
            display:flex;
            flex-wrap: wrap;
            /* flex-flow: column, wrap; */
            /* flex-direction: column; */
        }
        .sellers{
         display:flex;
         flex-direction: column;
         align-items: center; 
        }
        .health{
         display:flex;
         flex-wrap: wrap;
        }
        .image img{
            width:100%;
            margin-top:10px;
        }
        #order1{
            margin-top: 25px;
            position: relative;  
            right:0.5pc;
        }
        .transparenttext{
            position: relative;
            margin-top:321pc;
            font-size: 24px;
            max-width: 330px;
                
        }
        .footer{
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .footer1{
            margin-left: 35px;
        }
    }
    @media screen and(max-width:400px) and (max-width:600px){
        .title{
            display:flex;
            flex-flow:column;
        }
        .mail{
            display:flex;
            order:1;
            margin-top: 20px;
        }
        .contact{
            position: relative;
            right:10pc;
        }
        .socialmed{
         position: relative;
         right:28pc;
         margin-top: 20px;
         display:flex;
        }
        .logo{
            padding:5%;
        }
        .logo img{
            margin-top: 25px;
            padding-left: 40px;
        }
        .searchtab{
         position: relative;
         right:32pc;
         margin-top: 10px; 
         display:flex;
        }
        .tab a{
            margin-top: 10px;
        }
        .plant{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        .cont{
            display:flex;
            flex-wrap: wrap;
            /* flex-flow: column, wrap; */
            /* flex-direction: column; */
        }
        .sellers{
         display:flex;
         flex-direction: column;
         align-items: center; 
        }
        .health{
         display:flex;
         flex-wrap: wrap;
        }
        .image img{
            width:100%;
            margin-top:10px;
        }
        #order1{
            margin-top: 25px;
            position: relative;  
            right:0.5pc;
        }
        .transparenttext{
            position: relative;
            margin-top:320pc;
            width:100px;        
        }
        .footer{
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .footer1{
            margin-left: 35px;
        }
    }

